@model MyCV.Models.WorkExperienceListViewModel
<form action="/Home/AddWorkExperience" method="post" role="form">
    <table class="table table-striped">
        @foreach (var workExperience in Model.WorkExperienceList)
        {
        <tr>

            <td>@workExperience.Begin-@workExperience.End</td>
            <td>@workExperience.WorkName</td>
            <td>@workExperience.PositionName</td>
            <td>@Html.Partial("_EditSkill", workExperience.Skills)</td>
            <td><a href="/Home/DeleteWorkExperience?Id=@workExperience.Id" class="btn btn-danger">X</a></td>
        </tr>
        }

        @Html.Partial("_EditWorkExpirienceAdd", Model.NewWorkExpirience)

    </table>
</form>


