@model MyCV.Models.WorkExperienceListViewModel
<form class="form-horizontal" action="/Home/AddWorkExperience" method="post" role="form">

    @foreach (var workExperience in Model.WorkExperienceList)
    {
        <table style="width:100%">
            <tr>
                <td>
                    <dl class="row">
                        <dt class="col-sm-3">Даты</dt>
                        <dd class="col-sm-9">@workExperience.Begin-@workExperience.End</dd>

                        <dt class="col-sm-3">Место работы</dt>
                        <dd class="col-sm-9">@workExperience.WorkName</dd>

                        <dt class="col-sm-3">Должность</dt>
                        <dd class="col-sm-9">@workExperience.PositionName</dd>

                        <dt class="col-sm-3">Навыки</dt>
                        <dd class="col-sm-9">@Html.Partial("_EditSkillExpirience", workExperience.Skills)</dd>

                    </dl>
                </td>
                <td>
                    <a href="/Home/DeleteWorkExperience?Id=@workExperience.Id" class="btn btn-danger">X</a>
                </td>
            </tr>
        </table>



    }

    @Html.Partial("_EditWorkExpirienceAdd", Model.NewWorkExpirience)


</form>


