@model MyCV.Models.WorkExperienceModel
<tr>
    <td>
        @Html.ValidationMessage("Begin", "", new { @class = "text-danger" })
        <input type="text" name="Begin" class="form-control" placeholder="Год начала" value="@Model.Begin">
        -
        <input type="text" name="End" class="form-control" placeholder="Год окончания" value="@Model.End">
        @Html.ValidationMessage("End", "", new { @class = "text-danger" })
    </td>
    <td>
        <input type="text" name="WorkName" class="form-control" placeholder="Имя" value="@Model.WorkName">
        @Html.ValidationMessage("WorkName", "", new { @class = "text-danger" })
    </td>
    <td>
        <input type="text" name="PositionName" class="form-control" placeholder="Имя" value="@Model.PositionName">
        @Html.ValidationMessage("PositionName", "", new { @class = "text-danger" })
    </td>
    <td><input type="submit" class="btn btn-success" value="Add" /></td>
</tr>
