@model MyCV.Models.FrontPageModel
@{
    ViewBag.Title = "MyCV";
}

<aside class="sidebar">
    @if (ViewBag.Mode == MyCV.Models.PageMode.EditPersonalInfo)
    {
        @Html.Partial("_EditPersonalInfo", Model.PersonalInfo)
    }
    else
    {
        @Html.Partial("_ViewPersonalInfo", Model.PersonalInfo)
    }
</aside>

<main class="content">
    <fieldset>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><b>Education</b></h3>
                <a href="/?mode=EditEducation">Редактировать</a>
            </div>
            @if (ViewBag.Mode == MyCV.Models.PageMode.EditEducation)
            {
                @Html.Partial("_EditEducation", Model.EducationBlock)
            }
            else
            {
                @Html.Partial("_ViewEducation", Model.EducationBlock)
            }
        </div>
    </fieldset>

    <fieldset>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><b>Work Experience</b></h3>
            </div>
            <table class="table table-striped">
                @foreach (var workExperience in Model.WorkExperienceBlock.WorkExperienceList)
                {
                    <tr>

                        <td>@workExperience.Begin.Year-@workExperience.End.Year</td>
                        <td>@workExperience.WorkName</td>
                        <td>@workExperience.PositionName</td>
                    </tr>
                }
            </table>
        </div>
    </fieldset>
</main>
