@model MyCV.Models.FrontPageModel
@{
    ViewBag.Title = "MyCV";
}

<aside class="sidebar">
    <a href="/Home/EditPersonalInfo">Редактировать</a>
    <h1 class="title">@Model.PersonalInfo.FullName</h1>
    <h4 class="title info">Personal Info:</h4>

    <h5 class="title info">Phone:</h5>
    <p>@Model.PersonalInfo.Phone</p>
    <h5 class="title info">e-mail:</h5>
    <p>@Model.PersonalInfo.Email</p>
</aside>

<main class="content">
    <fieldset>
        <legend>Education</legend>
        <div class="educaton">
            <p>
                <table>
                    @foreach (var education in Model.EducationBlock.EducationList)
                    {
                        <tr>

                            <td>@education.Begin.Year-@education.End.Year</td>
                            <td>@education.SchoolName</td>
                        </tr>
                    }
                    @*<tr>
                        <td>2015-2017</td>
                        <td>НТЛ №38</td>
                    </tr>
                    <tr>
                        <td>2017-настоящее время</td>
                        <td>
                            ННГУ им. Лобачевского,
                            Институт Информационных технологий, математики и механики,
                            Факультет Математика и компьютерные науки
                        </td>
                    </tr>*@
                </table>
            </p>
        </div>
    </fieldset>

    <fieldset>
        <legend>Work Experience</legend>
        <div class="workExperience">
            <p>
                <table>
                    <tr>
                        <td>2006-2015</td>
                        <td>Общеобразовательная школа №103</td>
                    </tr>
                    <tr>
                        <td>2015-2017</td>
                        <td>НТЛ №38</td>
                    </tr>
                    <tr>
                        <td>2017-настоящее время</td>
                        <td>
                            ННГУ им. Лобачевского,
                            Институт Информационных технологий, математики и механики,
                            Факультет Математика и компьютерные науки
                        </td>
                    </tr>
                </table>
            </p>
        </div>
    </fieldset>
</main>
